* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
<<<<<<< HEAD
=======
}

.changeColor {
    text-decoration: dotted;
    text-decoration-color: aquamarine;
>>>>>>> 3ba5d5e4f7b0bf78a747d4818a69e7be8a4fb3ac
}